<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826309155293-3n5glnhsnk92rpetqo6s7u2t2f2c12e8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826309155293-3n5glnhsnk92rpetqo6s7u2t2f2c12e8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>826309155293-r6gdt3e6hu3gujnhhs839e7eskunljfv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBm1o9PrSnhseoPDTBTN9Gx69YLIOFIxIs</string>
	<key>GCM_SENDER_ID</key>
	<string>826309155293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nitstudent.app</string>
	<key>PROJECT_ID</key>
	<string>nit-student</string>
	<key>STORAGE_BUCKET</key>
	<string>nit-student.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826309155293:ios:edab3fd0b2417ab4c03e34</string>
	<key>DATABASE_URL</key>
	<string>https://nit-student-default-rtdb.firebaseio.com</string>
</dict>
</plist>